# Ignore all .log files
*.log

# Ignore node_modules directory
node_modules/

# Ignore environment files
.env

# Ignore compiled Python files
*.pyc
__pycache__/

# Ignore system files
.DS_Store
Thumbs.db
